# Python compiled files
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
/dist
/build
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
/.coverage
/.tox
/nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
.idea
.iml

# Backup files
*~

# Emacs
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*\#

# SublimeText project files
*.sublime-workspace

# Virtualenv
/.venv*
